# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Models (optional if large)
*.pkl
*.h5
*.pt

# Data (optional if large/private)
/data
